[Unit]
Description=Run DuckDNS updater every 5 minutes
Requires=duckdns-updater.service

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Persistent=true

[Install]
WantedBy=timers.target